<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title>Premium ToDo</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div id="bg"></div>

<canvas id="canvas"></canvas>

<div class="glow" id="glow"></div>

<!-- =====================================================
     APP
====================================================== -->

<div class="app">

  <div class="top">

    <h1>ToDo List</h1>

    <div class="actions">

      <button class="theme-btn" id="themeBtn">
        ☀️
      </button>

      <button class="add-btn">
        +
      </button>

    </div>

  </div>

  <!-- TASKS -->

  <div class="task-list">

    <div class="task">
      <span>Make the wireframe</span>
      <div class="circle"></div>
    </div>

    <div class="task">
      <span>Design logo for a company</span>
      <div class="circle"></div>
    </div>

    <div class="task">
      <span>Call with Kengo</span>
      <div class="circle"></div>
    </div>

    <div class="task">
      <span>Create onboarding screens</span>
      <div class="circle"></div>
    </div>

  </div>

</div>

<script src="/static/js/script.js"></script>

</body>
</html>